.adjust-navbar {
  width: 100%;
  height: 100%;
}

.adjust-sidebar {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.adjust-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 1em;
  box-sizing: border-box;
  margin-left: 200px; 
}
