.adjust-balance-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #eaf1fb;
  font-family: "Prompt", sans-serif;
}

.adjust-balance-navbar {
  display: flex;
  flex-direction: column;
}

.adjust-balance-sidebar {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.adjust-balance-sidebar-container {
  width: 200px;
  flex-shrink: 0;
}

.adjust-balance-content {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem 3rem 2rem 2rem;
  background-color: #f0f6ff;
  min-height: 100vh;
  box-sizing: border-box;
}
