.human-navbar {
  width: 100%;
  height: 100%;
}

.human-sidebar {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.human-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f5f8fc;
  padding: 1em;
  box-sizing: border-box;
  margin-left: 200px;
}
