/* File: DetailTrack.css */

.detail-track-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 2em;
  box-sizing: border-box;
  margin-left: 200px;
}

.detail-track-box {
  background: white;
  padding: 2rem 3rem;
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  font-family: 'Prompt', sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  text-align: center; 
}

.detail-track-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  padding-right: 1.5rem; 
}

.detail-track-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  color: #003366;
}

.detail-track-grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 4rem;
  row-gap: 1rem;
  justify-content: start;
  font-size: 1rem;
  margin-top: 1rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.detail-track-grid p {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.6;
}

.detail-track-subtitle {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.detail-track-table {
  border-collapse: collapse;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  width: 85%;
}

.detail-track-table th,
.detail-track-table td {
  border: 1px solid #ccc;
  padding: 0.6rem;
  text-align: center;
}

.detail-track-table th {
  background-color: #e3edf8;
  font-weight: bold;
}

.detail-track-status {
  margin-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.6;
  text-align: left;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.detail-track-approved {
  color: green;
  font-weight: bold;
}

.detail-track-rejected {
  color: red;
  font-weight: bold;
}

.detail-track-pending {
  color: orange;
  font-weight: bold;
}

.detail-track-waiting {
  color: #6a1b9a;
  font-weight: bold;
}

.detail-track-received {
  color: #0f9d58;
  font-weight: bold;
}

.detail-track-button-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
  margin-top: 2rem;
}

.detail-track-btn-back {
  background-color: #f79c05;
  color: white;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.detail-track-btn-back:hover {
  background-color: #e67c00;
}

@media (max-width: 768px) {
  .detail-track-grid {
    grid-template-columns: 1fr;
  }
}